body{
    font-family: Lucida Grande, verdana, geneva, helvetica, arial, sans-serif;
    margin:0;
}

#CQ #cq-switcher .cq-switcher-sni-site-optimizer {
    background-image: url(act_so.png);
}

#CQ #cq-switcher .cq-switcher-sni-site-optimizer-inactive {
    background-image: url(inact_so.png);
}

/* #CQ #sni-siteoptimizer-wrapper{
	background-color:#B2DCFC;
} */

/* your selection border */
#CQ #sni-selection .sni-outter-wrapper{font:normal 12px "lucida grande", verdana, geneva, arial, helvetica, sans-serif}
#CQ #sni-selection .sni-main {padding:.5em .5em 0em .5em; background-color:#609030; border: 1px solid #609030; border-bottom:0px; border-top-left-radius:.5em; border-top-right-radius:.5em;}
#CQ #sni-selection .sni-tab-left {height:.5em; background-color:#609030; border: 1px solid #609030; border-top: 0px; border-bottom-left-radius:.5em;}
#CQ #sni-selection .sni-tab  {padding: .5em 2em; width:12%; margin-top:.5em; background-color:#609030; text-align:center; font-weight:bold; color:#fff; float:right; border: 1px solid #609030; border-top:0px; border-bottom-left-radius:.5em; border-bottom-right-radius:.5em;}

/* your selection list */
#CQ #sni-selection .sni-left {width: 8%; padding: 1em 0em; float:left;}
#CQ #sni-selection .sni-label-single {text-align:right; font-weight:bold; color:#fff;}
#CQ #sni-selection .sni-label-top {display:none; min-height:2em; padding:.5em 0em; text-align:right; color:#fff;}
#CQ #sni-selection .sni-label-bottom {min-height:2em; padding:.5em 0em; margin-top:.5em; text-align:right; color:#fff;}
#CQ #sni-selection .sni-right {width: 92%; padding: 15px 0px; float:right;}
#CQ #sni-selection .sni-selection-list {margin-left: .5em; min-height:2.9em; padding:0em; background-color:#fff; border-radius:.5em;}
#CQ #sni-selection .sni-wrapper-x {display:none;}
#CQ #sni-selection .sni-wrapper-x .sni-left {padding: 0em 0em 1em;}
#CQ #sni-selection .sni-wrapper-x .sni-right {padding: 0em 0em 1em;}

#CQ #sni-selection .sni-select-filter {display:inline-block; margin:.3em; background-color:#309060; padding:.5em; border-radius:.5em; cursor: pointer;}
#CQ #sni-selection .sni-select-filter .sni-select-size {margin-left:.5em; background-color:#D0D0D0; padding:.2em .5em; border-radius:.3em;}
/* #CQ #sni-selection .sni-select-filter .sni-select-x {margin-left:.5em; background-color:#A0A0A0; padding:1px .5em; border-radius:.7em; color:#FFF;} */
#CQ #sni-selection .sni-select-filter .sni-select-x {margin-left:.5em; vertical-align: bottom; cursor:pointer;}
#CQ #sni-selection .sni-select-filter span {padding:.5em; cursor: pointer;}
#CQ #sni-selection #sni-exclusions .sni-select-filter{ background-color: #00a0a0 }
#CQ #sni-selection .sni-select-new{ display:none }

#CQ #sni-selection .sni-get-assets {padding:1.5em 2em 1.5em 1.5em; font:normal 12px "lucida grande", verdana, geneva, arial, helvetica, sans-serif;}
#CQ #sni-selection .sni-button {padding:.5em .7em; border: 1px solid black; border-radius: .5em; background-color:#FF9B36; cursor: pointer;}
#CQ #sni-selection .sni-button li {text-align:center; font-size:1.3em; cursor: pointer;}
#CQ #sni-selection .sni-button .sni-size {margin-top:.3em; padding:.3em; background-color: #FA802D; color:#fff; border-radius:.5em; font-size:1em;}
#CQ #sni-selection .sni-tab{cursor:pointer;}

#CQ .sni-selection.body.x-panel-body-noborder{
	border-bottom: 1px solid #d0d0d0;
}

/*tab panel */
#CQ #sni-search .x-form-item {padding:10px;}
#CQ #sni-search .x-tab-strip {padding-left:12em;}

#CQ .sni-lightbox .sni-pick-title { padding-bottom:0.5em; font-size:2em; font-weight:bold; }
#CQ .sni-lightbox .sni-pick-wrapper { padding-left: 1em; }
#CQ .sni-lightbox ul.sni-pick { display:inline } 
#CQ .sni-lightbox ul.sni-pick li { display:inline; padding: 0px 5px 0px 0px }
#CQ .sni-lightbox ul.sni-pick li a {width: 20px; display: inline-block; text-align: center; cursor:pointer;}
#CQ .sni-lightbox ul.sni-options li {border-bottom: 1px solid #D0D0D0; padding: 2px 0px 2px 10px}
#CQ .sni-lightbox h1 {padding-top:15px; padding-bottom:5px; border-bottom:1px solid #D0D0D0}
#CQ .sni-lightbox h1 a {font-size:1.5em}

/* radio buttons */
#CQ #has_image {border-top:1px solid #D0D0D0;}
#CQ #has_image .x-form-item {margin-bottom:0px; padding:2px; border-left: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0; border-right:1px solid #D0D0D0;}
#CQ #has_image .x-form-radio {margin-left:1.5em; margin-right: 3px;}

#CQ .sni-hub-type {border-top:1px solid #D0D0D0;}
#CQ .sni-hub-type .x-form-item {margin-bottom:0px; padding:2px; border-left: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0; border-right:1px solid #D0D0D0;}
#CQ .sni-hub-type .x-form-check-wrap .x-form-radio {margin-right: 3px;}

/* fonts */
#CQ .x-panel-header-text, #CQ .x-fieldset legend, #CQ .x-form-item, #CQ #sni-selection .sni-label-single, #CQ #sni-selection .sni-label-top, #CQ #sni-selection .sni-label-bottom, #CQ #sni-selection .sni-tab, #CQ #sni-selection .sni-select-filter span{
	font: normal 12px lucida grande, arial, helvetica, sans-serif;
}

#CQ .x-btn button, #CQ label[for=sni-lightbox-slider]{
	font: normal 11px lucida grande, arial, helvetica, sans-serif;
}

#CQ #rating .x-form-check-wrap label{
	font: normal 10px lucida grande, arial, helvetica, sans-serif;
	margin-left: 3px;
	vertical-align: bottom;
}

/* colors */
#CQ .sni-column{
	border: 10px solid #609030;
    background-color: #609030;
}

#CQ .x-panel-header{
	border-color:#609030;
	background-color: #609030;
	background-image:none;
}

#CQ .x-fieldset {
	border-color: #a0a0a0;
	border-radius: .5em;
}
